fichas18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="fichas18">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" type="ampli" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="infoPersonaAmpliada">
        <xs:complexContent>
            <xs:extension base="infoPersona">
                <xs:sequence>
                    <xs:element name="ciudad" type="xs:string"/>
                    <xs:element name="pais" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="infoPersona">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="edad" type="edadPersona"/>
        </xs:sequence>
        <xs:attribute name="numero" type="xs:integer"/>
    </xs:complexType>
    <xs:simpleType name="edadPersona">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="-1"/>
            <xs:maxExclusive value="131"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ampli">
        <xs:complexContent>
            <xs:extension base="infoPersonaAmpliada">
                <xs:sequence>
                    <xs:element name="telefono" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
