fichas4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="fichas4">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ficha" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codigo" type="dos"/>
                            <xs:element name="nombre" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="numero" type="dos" />
                        <xs:attribute name="letra">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[XYZ]"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="dos">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[01][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
